<div class="w-full">
  <h1 class="font-bold text-4xl">Links</h1>
  <div class="w-full">
  <% @links.each do |link|%>
    <a class="flex w-full flex-col sm:flex-row" href="<%= link_path(link)%>">
      <div class="sm:w-1/2 w-full truncate">
        <%= link.title %>
      </div>
      <div class="sm:w-1/2 w-full truncate">
        <%= link.href %>
      </div>
    </a>
    <% end %>
  </div>
</div>
