 <% @shortened_link.sorted_analytics.each do |analytic| %>
    <div class="flex flex-col w-full border rounded-xl px-3 py-1">
    <div><%=analytic.created_at%></div>
    <div class="flex">
        <div class="w-full text-right">
        <%=analytic.city && analytic.country ? analytic.city + ", " + analytic.country : (analytic.lat ? analytic.lat + ", " + analytic.lon : '-,-') %>
        </div>
    </div>
    </div>
<% end %>