 <% @shortened_link.sorted_analytics.each do |analytic| %>
    <div class="flex flex-col w-full border rounded-xl px-3 py-1">
    <div><%=analytic.created_at%></div>
    <div class="flex">
        <div class="w-full text-right">
        <%=analytic.lat ? analytic.lat : 'Nil' %>, <%=analytic.lon ? analytic.lon : 'Nil'%>
        </div>
    </div>
    </div>
<% end %>