<div class="w-full flex flex-col max-w-sm">
  <a class="bg-indigo-600 text-white fixed bottom-10 right-10" href="<%= root_path%>">
    Retry...
  </a>
  <h1 class="font-bold text-4xl">An error occured!</h1>
  <p>
    <%= @big_message %>
  </p>
  <p class="italic">
    <%= @message %>
  </p>
</div>